@media all and (min-width: 1500px) {
    .Form{
        height: 35vh;
    }
}

@media all and (min-width: 1200px) and (max-width: 1499px) {
    .Form{
        height: 35vh;
        .FormDiv{
            width: 25vw;
                .FormSocial{
                    font-size: 18px;
                }
        }
    }
}

@media all and (min-width: 993px) and (max-width: 1199px) {
    .Form {
        height: 40vh;
        .FormDiv {
            width: 28vw;
            .FormSocial {
                font-size: 17px;
            }
        }
    }
}