.App {
  text-align: center;
}

@font-face {
  font-family: Caviar Dreams;
  src: url(https://res.cloudinary.com/dqyirr5ik/raw/upload/v1687735001/CaviarDreams_mrixmw.ttf) format('opentype');
}

@font-face {
  font-family: Caviar Dreams;
  src: url(https://res.cloudinary.com/dqyirr5ik/raw/upload/v1687735001/CaviarDreams_mrixmw.ttf) format('opentype');
}


@font-face {
  font-family: La Beauties;
  src: url(https://res.cloudinary.com/dqyirr5ik/raw/upload/v1687738683/La_Beauties_iseooj.ttf) format('opentype');
}